<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <!-- CSS Bootstrap & Custom -->
     <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.teal-light_blue.min.css" /> 
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />  
    <link href="~/css/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link href="https://Secure.sullivan.edu/forms/css/jquery-ui-1.10.1.custom.css" rel="stylesheet" />
    <link href="../../css/jquery-ui.min.css" rel="Stylesheet" />
    <link href="../../css/jquery-ui.structure.min.css" rel="Stylesheet" />
    <link href="../../css/jquery-ui.theme.min.css" rel="Stylesheet" />
   <link href="../../css/magnific-popup.css" rel="Stylesheet" />

    <style type="text/css">
        

        /* .datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
        
        .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #36752D; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
        
        .datagrid table td, .datagrid table th { padding: 3px 10px; }
        
        .datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');background-color:#36752D; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #36752D; } 
        
        .datagrid table thead th:first-child { border: none; }
        
        .datagrid table tbody td a { color: #275420; border-left: 1px solid #C6FFC2;font-size: 12px;font-weight: normal; text-decoration: underline }
        
        .datagrid table tbody .alt td { background: #DFFFDE; color: #275420; }
        
        .datagrid table tbody td:first-child { border-left: none; }
        
        .datagrid table tbody tr:last-child td { border-bottom: none; */
        
        /*Styling for tables http://tablestyler.com/ */
        .datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; border: 1px solid #397373; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #448A8A), color-stop(1, #2F5E5E) );background:-moz-linear-gradient( center top, #448A8A 5%, #2F5E5E 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#448A8A', endColorstr='#2F5E5E');background-color:#448A8A; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #285252; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #1D3838; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #98C4C4; color: #1F3D3D; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #397373;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #336666;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #448A8A), color-stop(1, #2F5E5E) );background:-moz-linear-gradient( center top, #448A8A 5%, #2F5E5E 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#448A8A', endColorstr='#2F5E5E');background-color:#448A8A; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #336666; color: #FFFFFF; background: none; background-color:#224545;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
        /*.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #702D53; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #702D53), color-stop(1, #8F396A) );background:-moz-linear-gradient( center top, #702D53 5%, #8F396A 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#702D53', endColorstr='#8F396A');background-color:#702D53; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #702D53; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #702D53; border-left: 1px solid #E7BDFF;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #F4E3FF; color: #702D53; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #702D53;background: #F4E3FF;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #702D53;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #702D53), color-stop(1, #8F396A) );background:-moz-linear-gradient( center top, #702D53 5%, #8F396A 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#702D53', endColorstr='#8F396A');background-color:#702D53; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #702D53; color: #FFFFFF; background: none; background-color:#702D53;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }*/

        a
        {
            color: #0C422D;
            text-decoration: underline;
        }

        .main-content
        {
            margin: 0px;   
        }
        
        fieldset
        {
            padding: 10px;

        }
        
        legend
        {
            font-weight: bold;
        }

        form select 
        {
        	margin-left: 10px;
	        margin-right: 0;
	        margin-top: 5px;
            height: 20px;
        }
        
        .pager a
        {
            font-weight: bold;
            font-size: large;
            color: #36752D;
            margin: 2px;
        }

        form label
        {
            text-align: right;
            width: 200px;
        }
        
        form input, textarea {
	        margin-left: 10px;
	        margin-right: 0;
	        margin-top: 5px;
        }

        /*#addEvent input, textarea, select {
	        margin-left: 0px;
	        margin-right: 0;
	        margin-top: 5px;
        }

        #addEvent label
        {
            text-align: left;
            width: 100px;
        }*/
        
        form select 
        {
   	        margin-left: 10px;
            margin-right: 0;
	        margin-top: 5px;
            height: 20px;
         }

         .task
         {
             width: 400px;
             margin-right: 0px;
         }
          
         .order
         {
             width: 30px;
             margin-right: 0px;
         }

         .dueDate
         {
             width: 100px;
             margin-right: 0px;
         }

         /*.dueDate
         {
             width: 15%;
             margin-right: 0px;
         }

         .assignment
         {
             width: 20%;
             margin-right: 0px;
         }

         textarea
         {
             resize: both;
         }*/

         textarea
         {
             resize: both;
         }

        #staffList, #emailList
        {
            position: absolute;
            width: 200px;
            border: solid 1px;
            border-color: #336666;
            z-index: 20;
            background-color: white;
        }

        /*#addEvent
        {
            position: absolute;
            float: left;
            width: 100px;

        }

        #calendar
        {
            width: 800px;
        }*/

        h3, h4
        {
            color: slategrey;
        }


    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://Secure.sullivan.edu/forms/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.magnific-popup.min.js" type="text/javascript"></script>

@*    <script type="text/javascript">
        $(document).ready(function () {
            $("textarea").resizable();
        });
    </script>*@

</head>
<body>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Title</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a href="~/Request/Index">All Cases</a>
                <a href="~/Request/MyProjects">My Cases</a>
                <a href="~/Request/TaskList">Tasks</a>
                <a href="~/TimeSheet/Index">Reports</a>
                <a href="~/Template/Index">Templates</a>
                <a href="~/Calendar/Index">Calendar</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            @{string controllerName = ViewContext.RouteData.Values["controller"].ToString();
              string actionName = ViewContext.RouteData.Values["action"].ToString();}
                @*<li @if(controllerName == "Request" && actionName == "Index"){<text> class="active"</text>}>*@<a href="~/Request/Index">All Cases</a>
                @*<li @if(controllerName == "Request" && actionName == "MyProjects"){<text> class="active"</text>}>*@<a href="~/Request/MyProjects">My Cases</a>
                @*<li @if (controllerName == "Request" && actionName == "TaskList"){<text> class="active"</text>}>*@<a href="~/Request/TaskList">Tasks</a>
                @*<li @if(controllerName == "TimeSheet"){<text> class="active"</text>}>*@<a href="~/TimeSheet/Index">Reports</a>
                @*<li @if(controllerName == "Template"){<text> class="active"</text>}>*@<a href="~/Template/Index">Templates</a>
                @*<li @if(controllerName == "Calendar"){<text> class="active"</text>}>*@<a href="~/Calendar/Index">Calendar</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">@RenderBody()</div>
      </main>
    </div>

 

 





 <div style="text-align:center; width:100%;margin-left:auto;margin-right:auto; border-top:1px #ccc solid">
            <br />Copyright © 2015 Sullivan University System | Creative Communications
          </div>
           

   </div>
          </section>  

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-1162758-4");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>

@*    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@
</body>
</html>
