@model IEnumerable<ProjectRequest.Models.Pets>
@{
    ViewBag.Title = "Pets";
}

<h3>Hello @ViewBag.Name, welcome to the Creative Communications Pet Page!!!</h3>


@using (Html.BeginForm("SavePetPic", "Hobbies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="petUpload">Please upload your pet pic!</label>
    <input type="file" name="file" />
    <br />
    <input type="submit" value="Save Pet Pic!" />
}

@foreach(var petOwner in Model)
{
    int colNum = 0;
    
    <table>
    <tbody>
    <tr>
    
    @foreach(var pic in petOwner.attachments.Where(a => a.staffID == petOwner.staffID))
    {
        if (colNum <= 3)
        {
            colNum++;

            <td><img src="~/Attachments/@pic.filePath" /></td>
        }
        else
        {
           <td><img src="~/Attachments/@pic.filePath" /></td>    
        }
    }    
    
    </tbody>
    </table>
}
    
    
    
    
@*<table width="100%">
<tbody>
    
    <tr>
*@
@*    @foreach (var pic in petOwner.attachments.Where(a => a.staffID == petOwner.staffID))
    {
        
        if (colNum <= 3)
        {
            colNum++;

            <td><img src="~/Attachments/@pic.filePath" /></td>
        }
        else
        {
            </tr>
            
            <tr>
            <td><img src="~/Attachments/@pic.filePath" /></td>
        }
    }*@
@*
    </tbody>

</table>*@

@*}*@

