@{
    ViewBag.Title = "Search Current Track";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Current Track</h2>
<p>Your search did not bring up any results.</p>
<p><a href="~/Default/Index">Go back to home page.</a></p>
<p><a href="~/Request/Index">View all requests</a></p>
<p><a href="~/Assignment/Index">View assigned requests</a></p>

@using (Html.BeginForm("SearchCurrentTrack", "Request"))
{
    <p>Search Again:</p>
    <p><input type="text" name="currentTrackID" id="currentTrackID" />
    <input type="submit" name="search" value="search" /></p>
}
