@model IEnumerable<ProjectRequest.Models.Template>

@{
    ViewBag.Title = "Create/Edit CC Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {
        $('#Template').submit(function (e) {

            e.preventDefault();

            if ($("#template").val() != "00") {
                document.Template.action = "/ProjectRequest/ProjectRequest/Template/DisplayTemplate?template=" + $("#template").val();

                document.Template.submit();
            }
            else {
                alert("Please select a Template to view");
            }
        });
    });


</script>

@using (Html.BeginForm("DisplayTemplate", "Template", FormMethod.Post, new { name = "Template", id = "Template" }))
{
    
    <fieldset class="CaseFilter mdl-shadow--6dp">
    <legend>Create/Edit CC Templates</legend>
    <br />
    
    <label for="template">Select Template:</label>
    <select name="template" id="template">
        <option value="00">Please Select:</option>
        <option value="0">Create New Template</option>
        @foreach (var template in Model)
        {
            <option value="@template.templateID" >@template.templateName</option>
        }
    </select>
    <br /><br />
    
    <input type="submit" value="Go To Templates" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button" />
    </fieldset>
    
}

