@model ProjectRequest.Models.RequestListCategory

@{
    ViewBag.Title = "My CC Cases";
    Layout = "~/Views/Shared/_LayoutCopy2017.cshtml";
    <link rel="stylesheet" href="~/css/print.css"> 
}

@Html.Partial("~/Views/Shared/ProjectList.cshtml", Model)


@* <div ng-app="CCFilesApp" >

    <ul>
        <li><a href="#/routeOne">Route One</a></li>
        <li><a href="#/routeTwo">Route Two</a></li>
        <li><a href="#/routeThree">Route Three</a></li>
    </ul>

    <div ng-view></div>
</div>

<script>
    var CCFilesApp = angular.module('CCFilesApp', ['ngRoute']);

    var configFunction = function ($routeProvider) {
        $routeProvider.
            when('/routeOne', {
                templateUrl: '/ProjectRequest/ProjectRequest/Test/One'
            })
            .when('/routeTwo', {
                templateUrl: '/ProjectRequest/ProjectRequest/Test/Two'
            })
            .when('/routeThree', {
                templateUrl: '/ProjectRequest/ProjectRequest/Test/Three'
            });
    }
    configFunction.$inject = ['$routeProvider'];

    CCFilesApp.config(configFunction);

</script> *@