<!DOCTYPE html>

@{
    string name = Convert.ToString(User.Identity.Name);

    name = name.Remove(0, 8);
    
}

<html @*ng-app="CCFiles"*@ @*ng-controller="CCFileController"*@>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
     <!-- CSS Bootstrap & Custom -->

    <link rel="stylesheet" href="~/css/print2.css" /> 

     <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.teal-blue.min.css" />


    @*<link href="~/css/material.css" rel="stylesheet"*@

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> 

      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <link href="https://Secure.sullivan.edu/forms/css/jquery-ui-1.10.1.custom.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet' type='text/css'>
    @*<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>*@
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>


    @*<link href="../../css/jquery-ui.min.css" rel="Stylesheet" />
    <link href="../../css/jquery-ui.structure.min.css" rel="Stylesheet" />
    <link href="../../css/jquery-ui.theme.min.css" rel="Stylesheet" />
   <link href="../../css/magnific-popup.css" rel="Stylesheet" />*@



    <style type="text/css">
        
        /*Styling for tables http://tablestyler.com/ */
        .datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; border: 1px solid #397373; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2F5E5E), color-stop(1, #2F5E5E) );background:-moz-linear-gradient( center top, #2F5E5E 5%, #2F5E5E 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#448A8A', endColorstr='#2F5E5E');background-color:#448A8A; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #285252; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { /*color: black; border-left: 1px solid #E1EEF4;font-size: 13px;font-weight: normal;*/ }.datagrid table tbody .alt td { background: #d9d9d9; /*color: black;*/ }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #397373;background: white;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid rgb(68,138,255);-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgb(68,138,255)), color-stop(1, rgb(68,138,255)) );background:-moz-linear-gradient( center top, rgb(68,138,255) 5%, rgb(68,138,255) 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F5E5E', endColorstr='#2F5E5E');background-color:#448A8A; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #336666; color: #FFFFFF; background: none; background-color:#224545;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
        /*.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #702D53; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #702D53), color-stop(1, #8F396A) );background:-moz-linear-gradient( center top, #702D53 5%, #8F396A 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#702D53', endColorstr='#8F396A');background-color:#702D53; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #702D53; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #702D53; border-left: 1px solid #E7BDFF;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #F4E3FF; color: #702D53; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #702D53;background: #F4E3FF;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #702D53;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #702D53), color-stop(1, #8F396A) );background:-moz-linear-gradient( center top, #702D53 5%, #8F396A 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#702D53', endColorstr='#8F396A');background-color:#702D53; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #702D53; color: #FFFFFF; background: none; background-color:#702D53;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }*/

        /*.selected
        {
            background: #2F5E5E;
        }*/

        fieldset a
        {
            color: rgb(68,138,255);
            font-size: 15px;
            font-weight: 500;
        }

        .viewEdit
        {
            margin-left: 15px
        }

        /*.rightAlign
        {
            text-align: right;
        }*/

        header
        {
            width: 100%;

        }

        header.custom-header {
            background: #2F5E5E;
            width: 100%;
        }

        a
        {
            color: #2F5E5E;
            text-decoration: underline;
        }

        .main-content
        {
            margin: 0px;   
        }

        .CaseFilter
        {
            max-width: 1300px;
            margin: 0 auto;
            margin-top: 20px;
            color: slategray;
            /*font-size: x-large;*/
            /*box-shadow: 1px 1px 1px 1px #888888;*/
        }

        .CaseFilter md-input-container {
            margin-top: 20px;
        }

        .page-content
        {
            /*margin: 25px;*/
            margin: 0 auto;
            max-width: 1300px;
        }



        /*.CaseFilter legend, .CalenderEvent legend
        {
            background-color: white;
        }*/

        /*.CaseFilter label, .CalenderEvent label
        {
            font-size: 15px;
            font-weight: 500;
        }*/

        .CaseList
        {
            margin: 25px;
            margin-top: 0px;
        }


        .CaseFilter h4, .CalenderEvent h4
        {
            margin: 0;
        }

        .CalenderEvent
        {
            max-width: 620px;
            margin: 0 auto;
            margin-top: 20px;
            color: slategray;
            /*font-size: x-large;*/
            margin-bottom: 25px;
        }

        .footerCopyRight
        {
            margin: 0 auto;
        }

        .button
        {
            margin: 10px;
            /*float: right;*/
        }

        #lblComplete
        {
            margin-left: 10px;
        }

        #saveReport
        {
            margin-left: 0px;
        }

        #reportTime
        {
            /*margin-left: 25px;*/
            margin-bottom: 0px;
            font-size: 17px;
            font-weight: 600;
            color: rgb(68,138,255);
        }

        .notFound
        {
            color: rgb(68,138,255);
            text-align: center;

        }

        .notFound p
        {
            font-weight: 600;
            font-size: 20px;
        }

        fieldset
        {
            padding: 10px;
            background-color: #F0F0F0;
        }

        .caseHeader
        {
            background-color: #F0F0F0;
            color: #2F5E5E;
            margin: 0px;
        }

        /*fieldset a
        {
            color: rgb(68,138,255);
        }*/

        legend
        {
            font-weight: bold;
            background-color: #F0F0F0;
            color: #2F5E5E;
            font-size: 30px;
            padding: 10px;
            padding-top: 15px;
            padding-bottom: 0px;
            margin-top: 0px;
            font-family: 'Iceberg', cursive;
        }

        /*form select 
        {
        	margin-left: 10px;
	        margin-right: 0;
	        margin-top: 5px;
            height: 20px;
        }*/
        
        .pager a
        {
            font-weight: bold;
            font-size: large;
            color: #36752D;
            margin: 2px;
        }




        /*form input, textarea {
	        margin-left: 10px;
	        margin-right: 0;
	        margin-top: 5px;
        }*/

        /*#addEvent input, textarea, select {
	        margin-left: 0px;
	        margin-right: 0;
	        margin-top: 5px;
        }

        #addEvent label
        {
            text-align: left;
            width: 100px;
        }*/
        
        form select 
        {
   	        margin-left: 0px;
            margin-right: 0;
	        margin-top: 5px;
            height: 20px;
         }

         /*.task
         {
             max-width: 400px;
             margin-right: 0px;
         }*/
          
         .order
         {
             max-width: 30px;

         }

         .dueDate
         {
             width: 100px;
             margin-right: 0px;
         }

         /*.dueDate
         {
             width: 15%;
             margin-right: 0px;
         }

         .assignment
         {
             width: 20%;
             margin-right: 0px;
         }*/

         /*textarea
         {
             overflow: visible;
             height: auto;
         }*/


        #staffList, #emailList
        {
            position: absolute;
            width: 200px;
            border: solid 1px;
            border-color: #336666;
            z-index: 20;
            background-color: white;
        }

        /*#addEvent
        {
            position: absolute;
            float: left;
            width: 100px;

        }

        #calendar
        {
            width: 800px;
        }*/

        /*h3, h4
        {
            color: slategrey;
        }*/



        /*label
        {
            color: black;
        }*/

        .assignmentStaff
        {
            margin: 5px;
            font-size: 10px;
            font-weight: 400;
        }

        td
        {
            padding: 0px;
        }

        .mdl-layout:not(.is-small-screen) .mdl-layout--small-screen-only {
          display: none;
        }

        md-input-container
        {
            margin: 0px;
        }

        td md-input-container
        {
            margin: 0px;
            width: 100%;
        }

        md-input-container
        {
            width: 95%;
        }



        md-input-container:not(.md-input-invalid).md-input-focused label {
            color: rgb(68,138,255);
            font-size: 22px;
            margin-left: 0px;
        }

         md-input-container:not(.md-input-invalid).md-input-has-value.md-input-focused label {
            color: rgb(68,138,255);
            font-size: 22px;
            margin-left: 0px;
        }

        md-input-container:not(.md-input-invalid).md-input-focused .md-input {
            border-color: rgb(68,138,255);
        }

        .ui-widget-header {
            border: 1px solid rgb(68,138,255);
            background: rgb(68,138,255);
            color: #ffffff;
            font-weight: bold;
        }

        .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
            border: 1px solid #2F5E5E;
            background: #2F5E5E;
            color: white;
        }

        md-input-container .md-input { flex: none !important; }

    </style>


    @if (name != "ekuhn" && name != "ccole" )
    {
        <style>

            .button
            {
                font-family: 'PT Sans', sans-serif;
            }

            .datagrid td, .datagrid a
            {
                color: #2F5E5E;
                font-size: 13px;
                font-family: 'Roboto', sans-serif;
            }

            a
            {
                color: rgb(68,138,255);
                text-decoration: underline;
                font-family: 'PT Sans', sans-serif;
                font-weight: 600;
            }

            .datagrid th
            {
                font-family: 'PT Sans', sans-serif;
            }

            label
            {
                /*margin-left: 10px;*/
                color: #2F5E5E;
                font-weight: 600;
                font-family: 'PT Sans', sans-serif;
                font-size: 16px;
            }

            legend
            {
                color: rgb(68,138,255);
            }

            fieldset p
            {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
            }

            md-input-container label {
                color: #2F5E5E;
                margin-left: 0px;
                font-family: 'PT Sans', sans-serif;
            }

           md-input-container .md-input {
                border-color: #2F5E5E;
                font-family: 'Roboto', sans-serif;
            }

            md-input-container:not(.md-input-invalid).md-input-has-value label {
                color: #2F5E5E;
                font-size: 22px;
                margin-left: 0px;
                font-family: 'PT Sans', sans-serif;
            }


           md-input-container:not(.md-input-invalid).md-input-has-value input {
                border-color: #2F5E5E;
                margin: 0;
                font-family: 'Roboto', sans-serif;
            }

          md-input-container:not(.md-input-invalid).md-input-has-value textarea {
                border-color: #2F5E5E;
                margin: 0;
                font-family: 'Roboto', sans-serif;
            }

        md-input-container:not(.md-input-invalid).md-input-focused label {
            color: rgb(68,138,255);
            font-size: 22px;
            margin-left: 0px;
            font-family: 'PT Sans', sans-serif;
        }

         md-input-container:not(.md-input-invalid).md-input-has-value.md-input-focused label {
            color: rgb(68,138,255);
            font-size: 22px;
            margin-left: 0px;
            font-family: 'PT Sans', sans-serif;
        }


        .ViewHeader
        {
            color: #2F5E5E;
            text-decoration: underline;
            font-family: 'PT Sans', sans-serif;
            font-size: 16px;
        }

        </style>
    }
    else
    {

        <style>

        .button
        {
            font-family: 'PT Sans', sans-serif;
        }

        .datagrid td, .datagrid a
        {
            color: black;
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
        }

        a
        {
            color: rgb(68,138,255);
            text-decoration: underline;
            font-family: 'PT Sans', sans-serif;
            font-weight: 600;
        }

        fieldset p
        {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }

        .datagrid th
        {
            font-family: 'PT Sans', sans-serif;
        }

        md-input-container label {
            color: black;
            margin-left: 0px;
            font-family: 'PT Sans', sans-serif;
        }

       md-input-container .md-input {
            border-color: black;
            font-family: 'Roboto', sans-serif;
        }

        md-input-container:not(.md-input-invalid).md-input-has-value label {
            color: black;
            font-size: 22px;
            margin-left: 0px;
            font-family: 'PT Sans', sans-serif;
        }


       md-input-container:not(.md-input-invalid).md-input-has-value input {
            border-color: black;
            margin: 0;
        }

      md-input-container:not(.md-input-invalid).md-input-has-value textarea {
            border-color: black;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }

        md-input-container:not(.md-input-invalid).md-input-focused label {
            color: rgb(68,138,255);
            font-size: 22px;
            margin-left: 0px;
            font-family: 'PT Sans', sans-serif;
        }

         md-input-container:not(.md-input-invalid).md-input-has-value.md-input-focused label {
            color: rgb(68,138,255);
            font-size: 22px;
            margin-left: 0px;
            font-family: 'PT Sans', sans-serif;
        }

        label
        {
            /*margin-left: 10px;*/
            color: black;
            font-weight: 600;
            font-family: 'PT Sans', sans-serif;
            font-size: 16px;
        }
        
        .ViewHeader
        {
            color: black;
            text-decoration: underline;
            font-family: 'PT Sans', sans-serif;
            font-size: 16px;
        }

        </style>
    }
    

    @{string controllerName = ViewContext.RouteData.Values["controller"].ToString();
      string actionName = ViewContext.RouteData.Values["action"].ToString();}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://Secure.sullivan.edu/forms/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>

    @if (controllerName != "Calendar")
    {
        //Angular Material requires Angular.js Libraries 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

        //Angular Material Library 
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    }

    

    <script src="~/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.magnific-popup.min.js" type="text/javascript"></script>


</head>
<body ng-app="CCApp" ng-controller="caseCtrl" ng-cloak>
    <!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="custom-header mdl-layout__header " >
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><a href="~/Default/Index" class="navbar-brand"><img src="~/images/CCFilesLogo.png" alt="Tracker Logo" /></a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="~/RequestForm.aspx" target="_blank">@*<i class="fa fa-rocket"></i>*@New Case</a>
        <a class="mdl-navigation__link" href="~/Request/Index">@*<i class="fa fa-rocket"></i>*@All Cases</a>
        <a class="mdl-navigation__link" href="~/Request/MyProjects">@*<i class="fa fa-magic"></i>*@My Cases</a>
        <a class="mdl-navigation__link" href="~/Request/TaskList">@*<i class="fa fa-folder-open"></i>*@Tasks</a>
          <a class="mdl-navigation__link" href="~/Request/TaskList?assignedTo=@name">@*<i class="fa fa-folder-open"></i>*@My Tasks</a>
        <a class="mdl-navigation__link" href="~/TimeSheet/Index">@*<i class="fa fa-book"></i>*@Reports</a>
        <a class="mdl-navigation__link" href="~/Template/Index">@*<i class="fa fa-user-secret"></i>*@Templates</a>
        <a class="mdl-navigation__link" href="~/Calendar/Index">@*<i class="fa fa-calendar"></i>*@Calendar</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">The CC Files</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="~/RequestForm.aspx" target="_blank">@*<i class="fa fa-rocket"></i>*@New Case</a>    
        <a class="mdl-navigation__link" href="~/Request/Index">@*<i class="fa fa-rocket"></i>*@All Cases</a>
        <a class="mdl-navigation__link" href="~/Request/MyProjects">@*<i class="fa fa-magic"></i>*@My Cases</a>
        <a class="mdl-navigation__link" href="~/Request/TaskList">@*<i class="fa fa-folder-open"></i>*@Tasks</a>
        <a class="mdl-navigation__link" href="~/Request/TaskList?assignedTo=@name">@*<i class="fa fa-folder-open"></i>*@My Tasks</a>
        <a class="mdl-navigation__link" href="~/TimeSheet/Index">@*<i class="fa fa-book"></i>*@Reports</a>
        <a class="mdl-navigation__link" href="~/Template/Index">@*<i class="fa fa-user-secret"></i>*@Templates</a>
        <a class="mdl-navigation__link" href="~/Calendar/Index">@*<i class="fa fa-calendar"></i>*@Calendar</a>
        <a class="mdl-navigation__link" href="~/Request/PrintMyProjects" target="_blank">@*<i class="fa fa-user-secret"></i>*@Print My Cases</a>
        <a class="mdl-navigation__link" href="~/Request/PrintMyTaskList" target="_blank">@*<i class="fa fa-calendar"></i>*@Print My Tasks</a>
    </nav>
  </div>
      <main class="mdl-layout__content" style="flex: 1 0 auto;">
        <div class="page-content">
            <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col" >
            @RenderBody()
            </div>
            </div>
        </div>
      </main>
        <footer class="mdl-mini-footer" >
            <p class="footerCopyRight">Copyright © 2015 Sullivan University System | Creative Communications</p>
        </footer>
    </div>


    @if (controllerName != "Calendar")
    {
          <!-- Your application bootstrap  -->
          <script type="text/javascript">
              /**
               * You must include the dependency on 'ngMaterial' 
               */
              var myApp = angular.module('CCApp', ['ngMaterial']);

              myApp.controller('caseCtrl', function ($scope, $anchorScroll, $timeout, $location) {
                  $scope.name = 'World';

                  //var param =  $window.location.search.position;

                  //if(param == "EditTask")
                  //{
                  //    $location.hash(param);

                  //    // call $anchorScroll()
                  //    $anchorScroll();
                  //}

                  $timeout(function ($routeProvider) {

                      if(getUrlVars()["position"] != null)
                      {
                          var position = getUrlVars()["position"];

                          $location.hash(position);

                          // call $anchorScroll()
                          $anchorScroll();

                      }


                  });
              });



              function getUrlVars() {
                  var vars = [], hash;
                  var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                  for (var i = 0; i < hashes.length; i++) {
                      hash = hashes[i].split('=');
                      vars.push(hash[0]);
                      vars[hash[0]] = hash[1];
                  }
                  return vars;
              }

              //$(document).ready(function () {
              //    $.material.options.autofill = true;
              //    $.material.init();
              //});
          </script>
    }

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-1162758-4");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>


</body>
</html>
