@{
    ViewBag.Title = "Page Not Found";
}

<fieldset class="z-depth-1">
    <legend>Page Not Found</legend>


    <div class="mdl-grid mdl-grid--no-spacing notFound">
        <div class="mdl-cell mdl-cell--12-col" >

            <p ><b>I want to believe the page is out there.</b></p>
       
       </div>
    
        <div class="mdl-cell mdl-cell--12-col" >
            
            <p><img src="~/images/MolderDisapprovingStare.gif" width="60%" /></p>
        
        </div>

@*        <div class="mdl-cell mdl-cell--12-col" >

            <p><b>Could not find the page: @ViewBag.RequestedUrl</b></p>

            @if (ViewBag.ReferrerUrl != null) {
            <p>Go back to the <a href="@ViewBag.ReferrerUrl">previous page</a>.</p>
            }

        </div>*@

    </div>

</fieldset>

<audio controls autoplay style="display: none">
    <source src="~/Sound/xfilestheme.mp3">
    <source src="~/Sound/xfilestheme.ogg">
</audio>
@* Error page must be longer than 512 bytes for IE and Chrome to show it. 
   So add padding in case we're short. *@
@(new string(' ', 512))